# Python
__pycache__/
*.py[cod]
*$py.class

# IDE
.idea/
.vscode/

# Environment
.env
.venv
env/
venv/
ENV/

# Logs
*.log

# Local development settings
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local